<section class="md:relative h-70  md:h-screen flex items-center justify-center text-white overflow-hidden ">
    <!-- Imagen de fondo centrada -->
    <img src="assets/image/diseño.png" alt="diseño" class="absolute h-screen w-screen hidden lg:block" />
  
    <!-- Texto encima -->
    <div class="relative z-10 pt-10">
        <div class="border-draw">
          <h1 class="md:text-4xl text-lg text-center font-thin relative z-10 ">Construyendo mi carrera profesional como</h1>
          <h2 class="md:text-3xl text-lg font-semibold relative z-10 text-center">Desarrollador Frontend</h2>
          <span class="bottom-border"></span>
          <span class="left-border"></span>
        </div>
      </div>
  </section>
  
 