 <div class="relative shadow-2xl z-20 top-0">
    <app-sidebar></app-sidebar>
  </div>

  <div class="">
    <section id="inicio">
      <app-seccion1></app-seccion1>
    </section>
  </div>

  <div class="">
    <section id="sobre-mi"> 
      <app-sobre-mi></app-sobre-mi>
    </section>
  </div>
  
  <div class="">
    <section id="habilidades" class="h-[40%]  items-center justify-center bg-[#a1fdc4]  text-gray-800">
      <app-slider></app-slider>
    </section>
  </div>

  <div class="top-0 h-[70%]">
    <section id="proyectos" class="h-[80%] bg-[#a1fdc4]">
      <app-proyectos></app-proyectos>
    </section>
  </div>
