<div class="relative text-4xl font-bold text-center pb-5 top-0 pt-10">
  <h1>CONTACTO</h1>
</div>
<div class="top-0 p-10">
  <form (ngSubmit)="onSubmit()" #contactForm="ngForm" class="grid grid-cols-6 gap-3 gap-y-15 py-15">
  <input
    class="border-2 p-2  w-full max-w-[100%] border-[#14213d] rounded-r-xl col-span-3"
    type="text"
    name="name"
    [(ngModel)]="formData.name"
    placeholder="Tu nombre"
    required
  />

  <input
    class="border-2 p-2 w-full max-w-[100%]  border-[#14213d] rounded-l-xl col-span-3"
    type="email"
    name="email"
    [(ngModel)]="formData.email"
    placeholder="Tu correo"
    required
  />
  
  <textarea
    class="resize-none border-2 p-2 w-full max-w-[100%] h-50 border-[#14213d] rounded-b-xl col-span-6"
    name="message"
    [(ngModel)]="formData.message"
    placeholder="Tu mensaje"
    required
  ></textarea>

  <button type="submit" class="bg-[#243c70] w-full text-white px-4 py-2 rounded-3xl hover:bg-[#14213d] col-start-3 col-end-5">
    Enviar
  </button>
</form>
</div>

