<div class="relative text-4xl font-bold text-center pb-5 top-0 items-center ">
  <h1>PROYECTOS</h1>
  <div class="columns-4">
    <div class="shadow-[0_0_10px_rgba(0,0,0,0.4)]">
      <p>1</p>
      <button><a href="https://mil-calculadora.vercel.app/" target="_blank">entrar</a> </button>
    </div>
    <div>
      <p>2</p>
    </div>
    <div>
      <p>3</p>
    </div>
    <div>
      <p>4</p>
    </div>
    <div>
      <p>5</p>
    </div>
    <div>
      <p>6</p>
    </div>
    <div>
      <p>7</p>
    </div>
    <div>
      <p>8</p>
    </div>
  </div>
</div>