<div class="relative text-4xl font-bold text-center pb-5 top-0 pt-10">
  <h1>PROYECTOS</h1>
</div>
<div class="grid grid-cols-4 gap-6 p-4">
  <div *ngFor="let proyecto of proyectos" class="border rounded shadow hover:shadow-lg cursor-pointer" (click)="abrirModal(proyecto)">
    <img [src]="proyecto.imagen" alt="{{ proyecto.titulo }}" class="w-full h-48 object-cover rounded-t">
    <div class="p-4">
      <h2 class="text-xl font-bold">{{ proyecto.titulo}}</h2>
      <p class="text-gray-600 truncate">{{ proyecto.descripcion }}</p>
    </div>
  </div>
</div>

<!--Modal de los proyectos-->
<div *ngIf="proyectoSeleccionado" class="fixed inset-0 flex justify-center items-center z-50" id="modal-overlay" [class.open]="proyectoSeleccionado">
  <div class="bg-black fixed inset-0 opacity-50">
  </div>
  <div class="bg-white p-6 rounded shadow-xl max-w-md w-full relative" id="modal-content">
    <button (click)="cerrarModal()" class="absolute top-2 right-2 text-gray-600">
      &times;</button>
      <img [src]="proyectoSeleccionado.imagen" alt="{{ proyectoSeleccionado.titulo }}" class="w-full object-cover rounded">
    
    <h2 class="text-2xl font-semibold mt-4">{{ proyectoSeleccionado.titulo }}</h2>
    <p class="mt-2">{{ proyectoSeleccionado.descripcion }}</p>
    <h3 class="mt-4 font-bold">Tecnologías:</h3>
    <ul class="list-disc list-inside">
      <li *ngFor="let tech of proyectoSeleccionado.tecnologias">{{ tech }}</li>
    </ul>
  </div>
</div>