<button  
  class="fixed top-4 left-4 z-50 p-2 bg-[#14213d] text-white rounded-md md:hidden"
  (click)="menuAbierto = !menuAbierto">
  <fa-icon [icon]="faBars"></fa-icon>
</button>

<div 
  class="fixed top-0 left-0 h-full w-64 bg-[#14213d] text-[#ffffff] flex flex-col justify-between shadow-xl/50
         transform transition-transform duration-300 ease-in-out z-40 md:translate-x-0"
  [ngClass]="{'-translate-x-full': !menuAbierto, 'translate-x-0': menuAbierto}">
  
  <div class="px-6 py-8 text-center">
    <img src="assets/image/foto.jpg" alt="Foto Perfil" class="w-35 h-35 rounded-full mx-auto mb-4">
    <h2 class="text-3xl font-semibold">Fabricio Diaz</h2>
    </div>
      <nav class="flex-1  px-4 space-y-4 text-xl pl-10">

        <a [routerLink]="['/']" fragment="inicio" class="flex items-center space-x-2 hover:text-teal-400">
          <fa-icon [icon]="faHouse"></fa-icon>
          <span>Inicio</span>
        </a>

        <a [routerLink]="['/']" fragment="sobre-mi" class="flex items-center space-x-2 hover:text-teal-400">
          <fa-icon [icon]="faUser"></fa-icon>
          <span>Sobre mí</span>
        </a>
        
        <a [routerLink]="['/']" fragment="habilidades" class="flex items-center space-x-2 hover:text-teal-400">
          <fa-icon [icon]="faCode"></fa-icon>
          <span>Habilidades</span>
        </a>
        
        <a [routerLink]="['/']" fragment="proyectos" class="flex items-center space-x-2 hover:text-teal-400">
          <fa-icon [icon]="folder"></fa-icon>
          <span>Proyectos</span>
        </a>
        
        <a [routerLink]="['/']" fragment="contacto" class="flex items-center space-x-2 hover:text-teal-400">
          <fa-icon [icon]="faEnvelope"></fa-icon>
        <span>Contacto</span>
        </a>
      </nav>

      <div class="px-6 py-6 text-center">
        <a href="assets/documentos/curriculumFabricio.pdf" target="_blank" class="bg-[#a1fdc4] text-[#14213d] font-semibold px-4 py-2 rounded-full">Ver Curriculum</a>
        <div class="flex justify-center space-x-4 mt-4 text-2xl">
          <a href="https://github.com/diazfabrici0" target="_blank" class="hover:text-teal-400"><fa-icon [icon]="faGithub"></fa-icon></a>
          <a href="https://www.linkedin.com/in/fabricio-diaz-077005321/" target="_blank" class="hover:text-teal-400"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        </div>
      </div>
    </div>
 
