<div class="relative ">
    <img src="assets/image/forma.png" alt="forma" class="absolute h-screen w-screen hidden md:block" />
    <section class="h-[90%] p-10 pt-35 grid-cols-1 gap-2 items-center bg-[#03284b] justify-center text-white text-wrap">
    
      <h1 class="md:text-4xl text-3xl font-light text-center pb-5">Quien soy</h1>
      <div class="p-5 md:text-xl text-lg font-extralight text-balance max-w-5xl ">
        <p>
          Bienvenidos. 
          Soy Fabricio Diaz, un Desarrollador Frontend el cual tiene mucho entusiasmo por trabajar y mejorar cada día en las distintas areas del desarrollo. 
          Cuento con un buen desempeño de trabajo en equipo y una buena capacidad de aprendizaje.
          Con ganas de aprender y trabajar sobre tegnologías efectivas y funcionales tanto para la experiencia y la vista de usuario.
          Este portafolio esta hecho con Angular y TailwindCSS.
        </p>
      </div>
  
      <h1 class="text-3xl font-light p-5">Desarrollador jr.</h1>
      <div class="p-5 md:text-xl font-extralight text-balance">
        <p>
          Tengo 3 años y contando aprendiendo y adquiriendo experiencia tanto de instituciones como de autodidacta.
        </p>
        <div class="md:block hidden text-white">
          <div class="list">
            <ul>
              <li>Tec. Univ. en Desarrollo web</li>
              <li>Cursos EducaciónIT</li>
              <li>Proyectos Personales</li>
            </ul>

            <ul>
              <li>FreeCodeCamp</li>
              <li>Bachiller con orientación en informática</li>
              <li>Tutoriales en Youtube</li>
            </ul>
          </div>
        </div>
          <div class="md:hidden pt-5 ">
            <div class="listMobile">
              <ul class="">
                <li>Tecnicatura Universitaria en Desarrollo web</li>
                <li>Cursos EducaciónIT</li>
                <li>FreeCodeCamp</li>
                <li>Proyectos Personales</li>
                <li>Bachiller con orientación en informática</li>
                <li>Tutoriales en Youtube</li>
              </ul>
            </div>
          </div>
      </div>
    </section>
  </div>